PORT=5000
MONGO_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/chaloride
ACCESS_TOKEN_SECRET=your_super_secret_access_key_change_this
REFRESH_TOKEN_SECRET=your_super_secret_refresh_key_change_this
ACCESS_TOKEN_EXPIRY=15m
REFRESH_TOKEN_EXPIRY=7d
CLIENT_URL=https://your-frontend.vercel.app
NODE_ENV=production
